@tailwind base;
@tailwind components;
@tailwind utilities;

.felx {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}
.g-1 {
    gap: 1rem;
}
.g-2 {
    gap: 2rem;
}