@tailwind base;
@tailwind components;
@tailwind utilities;

.felx {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: start;
}
.align-end {
    align-items: end;
}

.g-1 {
    gap: 1rem;
}
.g-2 {
    gap: 2rem;
}

.p-1 {
    padding: 1rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pt-1 {
    padding-top: 1rem;
}

.title {
    font-weight: bold;
}

header .title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
